body {
  background-color: black;
}
h1 {
  color: red;
  background-color: midnightblue;
  border: 10px;
  border-color: white;
  border-style: double;
  padding-top: 2rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  margin-left: auto;
  margin-right: auto;
}

p {
  font-size: 24px;
  color: black;
}

div {
  border: 10px;
  border-style: groove;

  padding-right: 1rem;

  padding-left: 1rem;
}
#tdiv {
  border-color: orange;
  background-color: black;
}

#qdiv {
  border-color: yellow;
  background-color: black;
  font-size: smaller;
}

#t1 {
  font-size: 16px;
  color: red;
}

#t2 {
  color: orangered;
}

#q1 {
  color: rgb(34, 60, 96); /*Admiral blue*/
  background-color: lightgrey;
}

#q2 {
  color: rgb(256, 0, 256); /*Magenta*/
  background-color: grey;
}

#q3 {
  color: rgb(74, 103, 65); /*Forest green*/
  background-color: lightgrey;
}

#q4 {
  color: rgb(4, 55, 242); /*Ultramarine*/
  background-color: grey;
}

#q5 {
  color: rgb(127, 0, 255); /*Violet*/
  background-color: lightgrey;
}

#q6 {
  color: rgb(227, 66, 52); /*Vermillion*/
  background-color: grey;
}

#q7 {
  color: darkblue;
  background-color: lightgrey;
}

button {
  background-color: #4caf50; /* Green */
  border: solid;
  border-radius: 8px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#myPicButton {
  border-color: black;
}

img {
  height: min-content;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.open {
  border-radius: 50%;
}

img.closed {
  display: none;
}

li {
  font-size: 24px;
}

#biodiv {
  background-color: aliceblue;
  border-color: gold;
}

#listdiv {
  background-color: antiquewhite;

  border-color: yellow;
}
